.logo-container {

  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 900px;

  .logo {
    width: 377px;
    height: 274px;
  }

  .calltoaction {
    .title {
      margin-bottom: 20px;
    }
  }
}

.big-link {
  max-width: 500px;
  min-width: 310px;
  padding: 20px;
  padding-right: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 20px;

  &.blue {
    background: radial-gradient(340.1% 883.21% at 209.81% 217.77%, #34EBC9 0%, #2CC7AA 31.77%, #1E8A76 69.79%, #0E3D34 100%);
    border-radius: 8px;
  }

  &.green {
    background: radial-gradient(225.6% 524.12% at 129.42% 150.9%, #5B8731 0%, #5B8B32 23.09%, #527A2D 47.74%, #4A6F28 74.39%, #3E5C20 100%);
    border-radius: 8px;
  }

  &.purple {
    background: radial-gradient(965.52% 1200.76% at 95.97% 134.04%, #71627A 0%, #5B4965 26.56%, #3D354B 50.52%, #2E293A 77.08%, #2E293A 100%);
    border-radius: 8px;
  }

  span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #FFFFFF;
  }
  
  a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2rem;
    text-decoration: none;
    color: #FFFFFF;

    margin-top: 20px;
  }

  &:hover {
    a {
      text-decoration-line: underline;
    }
  }
  
}

.flex-row {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.why-container{
  /* display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;  */
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: 1fr;
  gap: 150px 0px;
  place-content: center;
}

.why-box{
  /* display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 50px;
}

.why-box_reverse{
  grid-row: 1 !important;
}

.why-image{
  width: 100%;
  height: 300px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

// .why-image-1{
//   background-image: url("");
// }

// .why-image-2{
//   background-image: url("");
// }

// .why-image-3{
//   background-image: url("");
// }

// .why-image-4{
//   background-image: url("");
// }

// .why-image-5{
//   background-image: url("");
// }

.why-icon-box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 80px);
  max-height: 80px;
}

.why-text-header{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
}

.why-text span {
  font-size: 1.2rem;
}

.why-text{
  text-align: left;
}

@media only screen and (max-width: 800px){

  .why-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 100px 0px;
      width: -webkit-fill-available;
  }
  
  .why-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* width: 250px;  */
      margin-top: 40px;
      font-size: 1.2rem;
  } 
  
  .why-image{
      width: 100%;
      height: 140px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
  }

  .why-text-header{
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 1.6rem;
      color: #000000;
      margin-bottom: 10px;
  }
  
  .why-text span {
      font-size: 1.1rem;
  }
  

}