@media only screen and (min-width: 601px) {
  .mobile {
    display: none !important;
  }

}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;

    i, a{
      padding-left: 20px;
    }

  }

  .logo-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    .left {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      color: #5AA02C;
    }

    .right {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      color: #2D5016;
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    input {
      border: none;
      outline: none;
    }
  }
}

@media only screen and (max-width: 600px) {

  nav {
    width: 100vw;

    @media only screen and (max-width: 600px){
      .navBar-container{
        z-index: 10 !important;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 10px 10px !important;
        -webkit-box-align: center;
        align-items: center;
        position: fixed;
        width: -webkit-fill-available;
        width: -moz-available;
        background: white;
        z-index: 9;
        -webkit-box-shadow: 0 0 12px 0px #00000038;
                box-shadow: 0 0 12px 0px #00000038;
      }
    }
  
    @media only screen and (min-width: 600px){
      .navBar-container{
          display: none;
      }
    }

    .links {
      display: flex;
      background-color: burlywood;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
    }

    .mobile-links {
      display: flex;
      flex-direction: column;
    }

    .search {
      display: none;      
    }
    
    .logo-text {
      display: none;
    }
  }
}