@media only screen and (min-width: 801px) {
  .mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .desktop {
    display: none !important;
  }
}

nav {
  position: fixed;
  top: 0;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;

    i, a{
      padding-left: 20px;
    }

  }

  .logo-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    .left {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      color: #5AA02C;
    }

    .right {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      color: #2D5016;
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    input {
      border: none;
      outline: none;
    }
  }

  input {
    border: none !important;
    border-bottom: 1px solid !important;
  }

}


@media only screen and (max-width: 800px){

  .navBar-container{
      z-index: 10 !important;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 10px 10px !important;
      -webkit-box-align: center;
      align-items: center;
      position: fixed;
      width: -webkit-fill-available;
      width: -moz-available;
      background: white;
      z-index: 9;
      -webkit-box-shadow: 0 0 12px 0px #00000038;
              box-shadow: 0 0 12px 0px #00000038;
  }
}

@media only screen and (min-width: 801px){
  .navBar-container{
      display: none;
  }
}


.navBar-container h1{
  font-size: 1.2em;
  font-weight: 600;
}

.nav-container h1{
  font-size: 1.2em;
  font-weight: 700;
}

@media only screen and (max-width: 800px){
  .nav-container{
      z-index: 9;
      width: 100vw;   
      height: 100vh;
      background-color: #adaca5;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translate(-110%, 0);
          -ms-transform: translate(-110%, 0);
              transform: translate(-110%, 0);
      position: fixed;
      top: 0;
      padding: 40px 20px 0px 20px;
  }

  .nav-container div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .nav-container .borderMarker{
      margin: 0 !important;
  }

  .nav-container .borderMarker a::after{
      display: none !important;
  }

  .nav-container a{
      font-size: 1.5em;
      margin: 30px 0px;
      display: block;
      font-weight: 800;
      color: white !important;
  }

}

@media only screen and (min-width: 801px){
  .nav-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background: white;
    z-index: 9;
    box-shadow: 0 0 12px 0px #00000038;
    flex-wrap: nowrap;
  }

  .nav-icon{
    display: none;
  }

  .nav-container a{
    font-size: 1.1em;
    margin: 10px 0px 15px 0px;
    display: block;
    font-weight: 500;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .nav-container div:not(.dropdown-content, .dropdown){
    margin: 0px 10px;
    position: relative;
    // left: -26px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav-container-open{
  -webkit-transform: translate(0px, 0) !important;
      -ms-transform: translate(0px, 0) !important;
          transform: translate(0px, 0) !important;
}

.nav-container-open-filter{
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.5;
}

.nav-container i{
  margin-right: 10px;
  position: relative;
  top: 2px;
}

span.right {
  margin-left: -4px;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}