p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: fit-content;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 8px;

  &.moderator {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #460061;
  }

  &.normal {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #000000;
  }
}

.banned {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border: 2px solid #FF3838;
  box-sizing: border-box;
  text-align: center;
  max-width: 980px;
  max-height: 250px;
}


.table-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 980px;
}

.max-300 {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.line {
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    height: 60px;
  }

  tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}